{% set activeMenu = '/' %}
{% include 'GeekhubWebBundle::layout.html.twig' %}

{% block body %}
    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Homework5</h1>
        <p class="lead">Study Bootstrap and Twig</p>
        <p><a class="btn btn-lg btn-success" href="{{ path('geekhub_web_calculatorpage') }}" role="button">View Calculator</a></p>
    </div>
       <!-- Site footer -->
   {% include ('GeekhubWebBundle::footer.html.twig') %}
{% endblock %}
</div> <!-- /container -->



